@import url('https://fonts.googleapis.com/css?family=Open+Sans|Public+Sans|Roboto+Condensed&display=swap');

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #105BC3;
}

hr.light {
    border-color: #fff;
}
hr.hr-contact{
    border-width: 1.5px;
    max-width: 100%;
    border-color:white;
}

a {
    color: #105BC3;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #105BC3;
    text-decoration: none;
}

.text-copy{      
    color: #eae000;
}

h1 {
    font-family: 'Open Sans',
        'Helvetica Neue',
        Arial,
        sans-serif;
        
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed',
        sans-serif;
}

.bg-service {
    background-color: #105BC3;
}

.bg-primary {
    background-color: #105BC3 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-icon {
    color: #105BC3;

}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 4.5rem 0;
}

.section-heading {
    margin-top: 0;
}

section.contact{
    background-color: #327DB7;
    color: white;
}

hr .hr-contact{
    color: white;
}

#my-contact div{
    color: white;
}

#my-contact:hover {
color: red;
}


::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}
/* 
img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
} */

img.experience:hover {
    opacity: 1;
}

.img-navbar {
    max-width: 10rem;
}

@media (max-width: 768px) {
    .img-navbar {
        max-width: 7rem;
    }
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.3s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #105BC3;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #105BC3;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #105BC3;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #105BC3 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #fff;
    }

    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #105BC3;
    }

    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #1D4444;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #105BC3;
    }
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }

}

@media(min-width: 480px) and (max-width: 767px) {
    #mainNav .navbar-brand {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

 .slider {
     width: 80%;
     margin: 0px auto;
 }
 @media (min-width: 768px) {
      .slider {
          width: 70%;
          margin: 0px auto;
      }
 }

 .slick-slide {
     margin: 0px 20px;
 }

 .slick-slide img {
     width: 100%;
 }

 .slick-prev:before,
 .slick-next:before {
     color: #0d2346;
 }

 .slick-slide {
     transition: all ease-in-out .3s;
     opacity: .2;
 }

 .slick-active {
     opacity: .5;
 }

 .slick-current {
     opacity: 1;
 }  

  #portfolio.hover12 img {
      background: #1abc9c;
  }

 #portfolio img.img-fluid {
     max-width: 300px;
     max-height: 200px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }

  #portfolio img.img-fluid:hover {
      opacity: 0.7;
  }

  /* Opacity #2 */
.hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #105BC3 !important;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #105BC3;
    border-color: #105BC3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #105BC3;
    background-color: #fff !important;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #105BC3 !important;
}

.copyright{
    font-size: 0.9rem;
    margin-bottom: -20px;
}

#contact .img-mid-footer img{
    width: 5rem;
}
